canvas {
  width: 100% !important;
  height: 100% !important;
}

.content {
  h2 {
    font-weight: 600;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    margin-bottom: 0.25rem /* 4px */;
    margin-top: 1rem /* 16px */;
  }

  p {
    font-weight: 400;
    font-size: 1rem /* 16px */;
    line-height: 1.3rem /* 24px */;
    margin-bottom: 1rem /* 16px */;
    margin-top: 0;
    padding-left: 0.5rem /* 8px */;

    ul {
      margin-top: 0.5rem /* 8px */;
      margin-left: 1.5rem /* 16px */;
      list-style: disc;
    }
  }

  img.code {
    display: block;
    margin: 1rem auto;
  }
}
